Repository conda/conda-dot-org: changes, and which pre-commit hooks are due for each by the changed paths.
All: index-blog, sort-authors

index-blog:
  name: Regenerate news manifest
  entry: npm run index-blog
  language: node
  language_version: 20.17.0
  pass_filenames: false

sort-authors:
  name: Alphabetically sort authors
  entry: bin/sort-authors
  language: python
  additional_dependencies:
  - ruamel.yaml

conda-pypi Beta blog (#382)
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/authors.yml
  blog/news.json
  static/img/blog/2026-06-24-bridging-conda-and-pypi-ecosystems/conda-pypi-logo.png
Due: index-blog, sort-authors

Revert "conda-pypi Beta blog (#382)"
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/authors.yml
  blog/news.json
  static/img/blog/2026-06-24-bridging-conda-and-pypi-ecosystems/conda-pypi-logo.png
Due: index-blog, sort-authors

Revert "conda-pypi Beta blog " (#383)
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/authors.yml
  blog/news.json
  static/img/blog/2026-06-24-bridging-conda-and-pypi-ecosystems/conda-pypi-logo.png
Due: index-blog, sort-authors

blog edits, adding news
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/news.json
Due: index-blog

fixing blog metadata
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/news.json
Due: index-blog

fix blog metadata, include edits from initial review, move publish date
  blog/2026-06-24-bridging-conda-and-pypi-ecosystems.md
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
  blog/news.json
  static/img/blog/2026-06-25-bridging-conda-and-pypi-ecosystems/conda-pypi-logo.png
Due: index-blog

Apply suggestions from Katherine
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
Due: index-blog

Apply suggestions from Dan
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
Due: index-blog

explain what is conda-meta
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
Due: index-blog

Populate History section in all specs pages
  .pre-commit-config.yaml
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/package-signing.md
  learn/specifications/channels/repodata-patches.md
  learn/specifications/channels/repodata.md
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/distribution/versioning.md
  learn/specifications/exchange/lockfiles.md
  learn/specifications/installation/environments.md
  learn/specifications/installation/installed-records.md
  learn/specifications/packages/contents.md
  learn/specifications/packages/file-formats.md
  learn/specifications/packages/info.md
  learn/specifications/recipes/meta-yaml.md
  learn/specifications/recipes/recipe-yaml.md
Due: none

Also to Virtual Packages
  learn/specifications/virtual-packages.md
Due: none

Add spec page for Virtual Packages
  learn/specifications/virtual-packages.md
Due: none

Fix links
  learn/specifications/virtual-packages.md
Due: none

Add spec for MatchSpec
  learn/specifications/distribution/dependency-specifiers.md
Due: none

Add spec page for build provenance
  learn/specifications/packages/provenance.md
Due: none

Add spec page for versioning
  learn/specifications/distribution/versioning.md
Due: none

Add spec page for archive file formats
  learn/specifications/packages/file-formats.md
Due: none

Link to spec pages
  learn/specifications/packages/file-formats.md
Due: none

Add spec page for lockfiles
  learn/specifications/exchange/lockfiles.md
Due: none

Update package identifiers page
  learn/specifications/distribution/package-identifiers.md
Due: none

Add spec page for package contents
  learn/specifications/packages/contents.md
  learn/specifications/packages/info.md
Due: none

Add spec pages for environment contents and lifecycle
  learn/specifications/installation/environments.md
  learn/specifications/installation/installed-records.md
  learn/specifications/installation/lifecycle.md
Due: none

Add spec page for channeldata
  learn/specifications/channels/channeldata.md
Due: none

Apply suggestion from Ken
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
Due: index-blog

Add conda-pypi blog post (re-opened) (#384)
  blog/2026-06-25-bridging-conda-and-pypi-ecosystems.md
  blog/news.json
  static/img/blog/2026-06-25-bridging-conda-and-pypi-ecosystems/conda-pypi-logo.png
Due: index-blog

Fix typo in platforms sub-dictionary reference
  learn/specifications/packages/menu.md
Due: none

Fix typo in menu.md documentation
  learn/specifications/packages/menu.md
Due: none

Fix menuinst osx platform key reference (#396)
  learn/specifications/packages/menu.md
Due: none

Update renovate-config link in "Practical Power" post
  blog/2025-11-11-conda-practical-power.mdx
Due: index-blog

Update renovate-config link in "Practical Power" post (#406)
  blog/2025-11-11-conda-practical-power.mdx
Due: index-blog

Replace triangulate with mosaic
  .pre-commit-config.yaml
  bin/banner/banner.js
  bin/banner/fill-missing
  bin/banner/mosaic.js
  bin/banner/package-lock.json
  bin/banner/package.json
Due: none

Update mosaic.js
  bin/banner/mosaic.js
Due: none

Drop helper entry point
  .pre-commit-config.yaml
  bin/banner/fill-missing
Due: none

Update banner.js
  bin/banner/banner.js
Due: none

Bump dependencies
  bin/banner/package-lock.json
  bin/banner/package.json
Due: none

Update docs
  CONTRIBUTING.md
  static/img/banner-examples/random.png
  static/img/banner-examples/smooth.png
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Debug pre-commit
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

🤖 updated file(s)
  .github/template-files/config.yml
  .github/workflows/update.yml
Due: none

Configure
  .github/PULL_REQUEST_TEMPLATE.md
  .github/template-files/config.yml
  .github/template-files/templates/dependabot_extras.yml
  .github/template-files/templates/pull_request_template_details.md
  .github/workflows/cla.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
Due: none

Path conditions:
  index-blog: any of: ^blog/, but not: (?x)^(
  package-lock.json|
  blog/news.json
)$

  sort-authors: any of: ^blog/authors.yml$, but not: (?x)^(
  package-lock.json|
  blog/news.json
)$

