Repository conda/conda-dot-org: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-news, sort-authors

.pre-commit-config.yaml:

---
exclude: |
  (?x)^(
    package-lock.json|
    blog/news.json
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # ensure syntaxes are valid
      - id: check-yaml
      - id: check-json
      # catch git merge/rebase problems
      - id: check-merge-conflict
      # alphabetically sort blog/authors.yml
      - id: sort-simple-yaml
        files: ^blog/authors.yml$
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        # ruamel.yaml doesn't line wrap correctly (?) so set width to 1M to avoid issues
        args: [--mapping, '2', --offset, '2', --sequence, '4', --width, '1000000']
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.0
    hooks:
      # verify github syntaxes
      - id: check-github-workflows
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [jsx, javascript]
        exclude: ^static/js/count.js$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^bin/(sort-authors|update-news)$
  - repo: local
    hooks:
      - id: generate-news
        name: Regenerate news manifest
        entry: bin/update-news
        language: python
        files: ^blog/
        additional_dependencies: [ruamel.yaml]
      - id: sort-authors
        name: Alphabetically sort authors
        entry: bin/sort-authors
        language: python
        files: ^blog/authors.yml$
        additional_dependencies: [ruamel.yaml]
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

Remove significant whitespace again.
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Add Netlify Badge
  README.md
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Apply suggestions from code review
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Indent news JSON file.
  bin/update-news
Due: none

Indent news JSON file. (#203)
  bin/update-news
  blog/news.json
Due: none

Add Netlify Badge (#201)
  README.md
Due: none

Add communications team
  .github/CODEOWNERS
Due: none

rebrand
  blog/2024-08-21-chatting-with-the-conda-community.mdx
Due: generate-news

update image
  blog/2024-08-21-chatting-with-the-conda-community.mdx
  static/img/blog/2024-08-08-conda-community-update/banner.png
  static/img/blog/2024-08-21-chatting-with-conda-community/banner.png
Due: generate-news

npm audit fix
  package-lock.json
Due: none

Create CODEOWNERS (#202)
  .github/CODEOWNERS
Due: none

Update blog/2024-08-14-conda-ecosystem-explained.mdx
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Remove status
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Add Conda Ecosystem Explained article. (#198)
  .pre-commit-config.yaml
  blog/2024-08-14-conda-ecosystem-explained.mdx
  blog/news.json
Due: generate-news

Adding a banner image.
  blog/2024-08-14-conda-ecosystem-explained.mdx
  static/img/blog/2024-08-14-conda-ecosystem-explained/banner.png
Due: generate-news

Add link to "Is conda free?" article.
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Minor tweaks to ecosystem article (#205)
  blog/2024-08-14-conda-ecosystem-explained.mdx
  blog/news.json
  static/img/blog/2024-08-14-conda-ecosystem-explained/banner.png
Due: generate-news

Update 2024-08-21-chatting-with-the-conda-community.mdx
  blog/2024-08-21-chatting-with-the-conda-community.mdx
Due: generate-news

Update news.json
  blog/news.json
Due: none

Fix pixi link
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

feat: fix the pixi link
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Fix pixi link (#206)
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

Update 2024-08-14-conda-ecosystem-explained.mdx
  blog/2024-08-14-conda-ecosystem-explained.mdx
Due: generate-news

update date
  blog/2024-09-02-chatting-with-the-conda-community.mdx
Due: generate-news

Update
  blog/2024-05-20-v0-format-modifications.mdx
  blog/news.json
  static/img/blog/2024-09-04-v0-format-modifications/banner.png
Due: generate-news

update
  blog/2024-09-12-chatting-with-the-conda-community.mdx
  static/img/blog/2024-09-chatting-with-conda-community/banner.png
Due: generate-news

Update blog/2024-09-12-chatting-with-the-conda-community.mdx
  blog/2024-09-12-chatting-with-the-conda-community.mdx
Due: generate-news

Blog post about Prefix' "Chatting with the conda community" (#197)
  blog/2024-09-12-chatting-with-the-conda-community.mdx
  blog/authors.yml
  blog/news.json
  static/img/blog/2024-09-chatting-with-conda-community/banner.png
Due: generate-news, sort-authors

start blog post for rattler move to conda org
  blog/2024-09-23-rattler-to-conda.mdx
  static/img/blog/2024-09-rattler/banner.png
Due: generate-news

Update blog/2024-09-23-rattler-to-conda.mdx
  blog/2024-09-23-rattler-to-conda.mdx
Due: generate-news
