Repository conda/conda-dot-org: changes, and which pre-commit hooks are due for each by the changed paths.
All: index-blog, sort-authors

index-blog:
  name: Regenerate news manifest
  entry: npm run index-blog
  language: node
  language_version: 20.17.0
  pass_filenames: false

sort-authors:
  name: Alphabetically sort authors
  entry: bin/sort-authors
  language: python
  additional_dependencies:
  - ruamel.yaml

July Release Blog Post (#249)
  blog/2025-08-05-july-releases.md
  blog/news.json
  static/img/blog/2025-08-05-july-releases/banner.png
Due: index-blog

Add Part 1 of "Conda Is Not PyPI" series
  blog/2025-09-25-conda-pypi.mdx
  blog/authors.yml
  blog/news.json
Due: index-blog, sort-authors

Adds Part 2 of the “Conda Is Not PyPI” series:
  blog/2025-09-26-conda-pip-docker-nix.mdx
  blog/authors.yml
  blog/news.json
Due: index-blog, sort-authors

Add Part 3 of the “Conda Is Not PyPI” series:
  blog/2025-09-27-conda-practical-power.mdx
  blog/authors.yml
  blog/news.json
Due: index-blog, sort-authors

WIP: Populate the Learn section with stubs
  learn/_sidebar.json
  learn/projects.md
  learn/specifications.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/index.mdx
  learn/specifications/distribution-file-formats/conda.md
  learn/specifications/distribution-file-formats/index.mdx
  learn/specifications/distribution-file-formats/tar-bz2.md
  learn/specifications/distribution-metadata/dependency-specifiers.md
  learn/specifications/distribution-metadata/index.mdx
  learn/specifications/distribution-metadata/package-identifiers.md
  learn/specifications/distribution-metadata/repodata.md
  learn/specifications/distribution-metadata/versioning.md
  learn/specifications/installation/environments.md
  learn/specifications/installation/index.mdx
  learn/specifications/installation/installed-records.md
  learn/terminology.md
Due: none

More WIP
  learn/specifications.md
  learn/specifications/building/index.mdx
  learn/specifications/building/meta-yaml.md
  learn/specifications/building/recipe-yaml.md
  learn/specifications/channels/channel-identifiers.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/package-signing.md
  learn/specifications/channels/repodata.md
  learn/specifications/channels/run-exports.md
  learn/specifications/distribution-file-formats/conda.md
  learn/specifications/distribution-file-formats/tar-bz2.md
  learn/specifications/distribution-metadata/dependency-specifiers.md
  learn/specifications/distribution-metadata/package-identifiers.md
  learn/specifications/distribution-metadata/repodata.md
  learn/specifications/distribution-metadata/versioning.md
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/distribution/file-formats.md
  learn/specifications/distribution/index.mdx
  learn/specifications/distribution/info.md
  learn/specifications/distribution/package-identifiers.md
  learn/specifications/distribution/versioning.md
  learn/specifications/exchange/environment-yml.md
  learn/specifications/exchange/index.mdx
  learn/specifications/exchange/lockfiles.md
  learn/specifications/exchange/text-spec.md
  learn/specifications/installation/environments.md
  learn/specifications/installation/installed-records.md
  learn/specifications/installation/menu.md
Due: none

More WIP
  learn/specifications.md
  learn/specifications/channels/_category_.yml
  learn/specifications/channels/channel-identifiers.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/package-signing.md
  learn/specifications/channels/repodata.md
  learn/specifications/channels/run-exports.md
  learn/specifications/distribution/_category_.yml
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/distribution/info.md
  learn/specifications/distribution/package-identifiers.md
  learn/specifications/distribution/versioning.md
  learn/specifications/exchange/_category_.yml
  learn/specifications/exchange/environment-yml.md
  learn/specifications/exchange/lockfiles.md
  learn/specifications/exchange/text-spec.md
  learn/specifications/installation/_category_.yml
  learn/specifications/installation/environments.md
  learn/specifications/installation/installed-records.md
  learn/specifications/installation/menu.md
  learn/specifications/packages/_category_.yml
  learn/specifications/packages/contents.md
  learn/specifications/packages/file-formats.md
  learn/specifications/packages/index.mdx
  learn/specifications/packages/info.md
  learn/specifications/packages/menu.md
  learn/specifications/recipes/_category_.yml
  learn/specifications/recipes/index.mdx
  learn/specifications/recipes/meta-yaml.md
  learn/specifications/recipes/recipe-yaml.md
  learn/specifications/virtual-packages.md
Due: none

pre-commit
  learn/specifications/channels/_category_.yml
  learn/specifications/distribution/_category_.yml
  learn/specifications/exchange/_category_.yml
  learn/specifications/installation/_category_.yml
  learn/specifications/packages/_category_.yml
  learn/specifications/packages/contents.md
  learn/specifications/packages/menu.md
  learn/specifications/recipes/_category_.yml
Due: none

More links
  learn/projects.md
  learn/specifications.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/repodata-patches.md
  learn/specifications/channels/repodata.md
  learn/terminology.md
Due: none

Add projects page
  learn/projects.md
Due: none

Add terminology page
  learn/terminology.md
Due: none

Add to sidebar.json
  learn/_sidebar.json
Due: none

Update sidebar.json
  learn/_sidebar.json
Due: none

Add Learn index
  docusaurus.config.js
  learn/_sidebar.json
  learn/index.md
  learn/specifications/channels/repodata-patches.md
Due: none

Do not contribute full pages yet, mark them as ready to be written with prettier admonitions
  learn/specifications.md
  learn/specifications/channels/channel-identifiers.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/package-signing.md
  learn/specifications/channels/repodata-patches.md
  learn/specifications/channels/repodata.md
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/distribution/package-identifiers.md
  learn/specifications/distribution/versioning.md
  learn/specifications/exchange/environment-yml.md
  learn/specifications/exchange/lockfiles.md
  learn/specifications/exchange/text-spec.md
  learn/specifications/installation/environments.md
  learn/specifications/installation/installed-records.md
  learn/specifications/installation/menu.md
  learn/specifications/packages/contents.md
  learn/specifications/packages/file-formats.md
  learn/specifications/packages/info.md
  learn/specifications/packages/menu.md
  learn/specifications/recipes/meta-yaml.md
  learn/specifications/recipes/recipe-yaml.md
  learn/specifications/virtual-packages.md
Due: none

Fix 404s
  learn/specifications.md
Due: none

Update blog/2025-09-25-conda-pypi.mdx
  blog/2025-09-25-conda-pypi.mdx
Due: index-blog

Adapt to review comments
  blog/2025-09-25-conda-pypi.mdx
Due: index-blog

Use `stable` for conda-build links
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/package-signing.md
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/exchange/lockfiles.md
  learn/specifications/packages/file-formats.md
  learn/specifications/packages/info.md
  learn/specifications/recipes/meta-yaml.md
Due: none

Replace emojis with explicit text
  learn/specifications.md
Due: none

Mention CEP PR 132
  learn/specifications/distribution/versioning.md
Due: none

Add links to CEP PR#133
  learn/specifications/installation/installed-records.md
  learn/specifications/packages/contents.md
  learn/specifications/packages/info.md
Due: none

Update learn/index.md
  learn/index.md
Due: none

Shuffle sidebar a bit
  learn/_sidebar.json
  learn/index.md
Due: none

add conda package lifecycle
  learn/specifications.md
Due: none

Mention CEP PR 135
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/repodata-patches.md
  learn/specifications/channels/repodata.md
Due: none

add Q4 2025 conda cli roadmap post
  blog/2025-09-30-conda-roadmap-q4-2025.mdx
  blog/authors.yml
  blog/news.json
Due: index-blog, sort-authors

Mark `.mdx` as documentation file type
  .gitattributes
Due: none

Apply suggestions from code review
  blog/2025-09-25-conda-pypi.mdx
Due: index-blog

Mark `.mdx` as documentation file type (#259)
  .gitattributes
Due: none

Mark `.mdx` as Markdown
  .gitattributes
Due: none

Mark `.mdx` as Markdown (#260)
  .gitattributes
Due: none

Add 2025 September releases post
  blog/2025-10-01-september-releases.md
  blog/news.json
  static/img/blog/2025-10-01-september-releases/banner.png
Due: index-blog

Move special announcement
  blog/2025-10-01-september-releases.md
Due: index-blog

Apply suggestions
  blog/2025-09-30-conda-roadmap-q4-2025.mdx
Due: index-blog

change to .md, add banner image, minor edits from comments
  blog/2025-09-30-conda-roadmap-q4-2025.md
  static/img/blog/conda-roadmap-q4-2025/banner.jpg
Due: index-blog

Apply suggestions from code review
  blog/2025-10-01-september-releases.md
Due: index-blog

Path conditions:
  index-blog: any of: ^blog/, but not: (?x)^(
  package-lock.json|
  blog/news.json
)$

  sort-authors: any of: ^blog/authors.yml$, but not: (?x)^(
  package-lock.json|
  blog/news.json
)$

