Repository conda/conda-dot-org: changes, and which pre-commit hooks are due for each by the changed paths.
All: index-blog, sort-authors

.pre-commit-config.yaml:

---
exclude: |
  (?x)^(
    package-lock.json|
    blog/news.json
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # ensure syntaxes are valid
      - id: check-yaml
      - id: check-json
      # catch git merge/rebase problems
      - id: check-merge-conflict
      # alphabetically sort blog/authors.yml
      - id: sort-simple-yaml
        files: ^blog/authors.yml$
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        # ruamel.yaml doesn't line wrap correctly (?) so set width to 1M to avoid issues
        args: [--mapping, '2', --offset, '2', --sequence, '4', --width, '1000000']
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.0
    hooks:
      # verify github syntaxes
      - id: check-github-workflows
  - repo: https://github.com/codespell-project/codespell
    # see pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [jsx, javascript]
        exclude: ^static/js/count.js$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      # lint & attempt to correct failures (e.g. pyupgrade)
      - id: ruff
        args: [--fix]
        files: ^bin/(sort-authors|update-news)$
      # compatible replacement for black
      - id: ruff-format
        files: ^bin/(sort-authors|update-news)$
  - repo: local
    hooks:
      - id: index-blog
        name: Regenerate news manifest
        entry: npm run index-blog
        language: node
        language_version: 20.17.0
        files: ^blog/
        pass_filenames: false
      - id: sort-authors
        name: Alphabetically sort authors
        entry: bin/sort-authors
        language: python
        files: ^blog/authors.yml$
        additional_dependencies: [ruamel.yaml]
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

Apply suggestions from code review
  blog/2025-10-01-september-releases.md
Due: index-blog

Use full argument name
  blog/2025-10-01-september-releases.md
Due: index-blog

Fix tense
  blog/2025-10-01-september-releases.md
Due: index-blog

Add 2025 September releases post (#261)
  blog/2025-10-01-september-releases.md
  blog/news.json
  static/img/blog/2025-10-01-september-releases/banner.png
Due: index-blog

Start a Specifications section (#255)
  docusaurus.config.js
  learn/_sidebar.json
  learn/index.md
  learn/specifications.md
  learn/specifications/channels/_category_.yml
  learn/specifications/channels/channel-identifiers.md
  learn/specifications/channels/channel-interface.md
  learn/specifications/channels/channeldata.md
  learn/specifications/channels/index.mdx
  learn/specifications/channels/package-signing.md
  learn/specifications/channels/repodata-patches.md
  learn/specifications/channels/repodata.md
  learn/specifications/distribution/_category_.yml
  learn/specifications/distribution/dependency-specifiers.md
  learn/specifications/distribution/index.mdx
  learn/specifications/distribution/package-identifiers.md
  learn/specifications/distribution/versioning.md
  learn/specifications/exchange/_category_.yml
  learn/specifications/exchange/environment-yml.md
  learn/specifications/exchange/index.mdx
  learn/specifications/exchange/lockfiles.md
  learn/specifications/exchange/text-spec.md
  learn/specifications/installation/_category_.yml
  learn/specifications/installation/environments.md
  learn/specifications/installation/index.mdx
  learn/specifications/installation/installed-records.md
  learn/specifications/installation/menu.md
  learn/specifications/packages/_category_.yml
  learn/specifications/packages/contents.md
  learn/specifications/packages/file-formats.md
  learn/specifications/packages/index.mdx
  learn/specifications/packages/info.md
  learn/specifications/packages/menu.md
  learn/specifications/recipes/_category_.yml
  learn/specifications/recipes/index.mdx
  learn/specifications/recipes/meta-yaml.md
  learn/specifications/recipes/recipe-yaml.md
  learn/specifications/virtual-packages.md
Due: none

Update docusaurus and dependencies
  docusaurus.config.js
  package-lock.json
  package.json
Due: none

Add dependabot
  .github/dependabot.yml
Due: none

Retire Discourse
  blog/2022-09-28-conda-community-forum.mdx
  blog/2023-02-01-matrix.mdx
  community/index.mdx
  docusaurus.config.js
Due: index-blog

pre-commit
  blog/2023-02-01-matrix.mdx
Due: index-blog

Update admonitions
  blog/2022-09-28-conda-community-forum.mdx
  blog/2023-02-01-matrix.mdx
Due: index-blog

add blog post
  blog/2025-10-05-discourse-read-only.md
Due: index-blog

bump node
  package.json
Due: none

merge dicts
  docusaurus.config.js
Due: none

rearranging the items so this blog is the featured one on the front page
  blog/news.json
Due: none

nudging the news date up a little to appear in the featured spot
  blog/news.json
Due: none

renaming file to bump date
  blog/2025-10-16-conda-roadmap-q4-2025.md
Due: index-blog

Add spec page for channel identifiers
  learn/specifications/channels/channel-identifiers.md
Due: none

Add spec page for package identifiers
  learn/specifications/distribution/package-identifiers.md
Due: none

Add spec pages for menuinst
  learn/specifications/installation/menu.md
  learn/specifications/packages/menu.md
Due: none

Add spec pages for text input files
  learn/specifications/exchange/text-spec.md
Due: none

Add spec pages for environment.yml files
  learn/specifications/exchange/environment-yml.md
Due: none

Update docusaurus and dependencies, set up Dependabot (#262)
  .github/dependabot.yml
  docusaurus.config.js
  package-lock.json
  package.json
Due: none

Fix link
  learn/specifications/distribution/package-identifiers.md
Due: none

Fix link
  learn/specifications/installation/menu.md
Due: none

add banner
  blog/2025-10-05-discourse-read-only.md
  blog/news.json
  package-lock.json
  static/img/blog/2025-10-05-discourse-read-only/banner.png
Due: index-blog

removed lockfiles from roadmap post(already released)
  blog/2025-10-20-conda-roadmap-q4-2025.md
  blog/news.json
Due: index-blog

Retire Discourse (#263)
  blog/2022-09-28-conda-community-forum.mdx
  blog/2023-02-01-matrix.mdx
  blog/2025-10-05-discourse-read-only.md
  blog/news.json
  community/index.mdx
  docusaurus.config.js
  package-lock.json
  static/img/blog/2025-10-05-discourse-read-only/banner.png
Due: index-blog

Add Q4 2025 conda CLI roadmap post (#258)
  blog/2025-10-20-conda-roadmap-q4-2025.md
  blog/authors.yml
  blog/news.json
  static/img/blog/conda-roadmap-q4-2025/banner.jpg
Due: index-blog, sort-authors

Pin eslint and eslint-plugin-react-hooks
  package-lock.json
  package.json
Due: none

A couple more downgrades
  package-lock.json
  package.json
Due: none

Added Oxford Comma in language list in Features component
  src/components/Features/index.jsx
Due: none

Update
  blog/2025-10-29-conda-pypi.mdx
  blog/news.json
Due: index-blog

Improvements from reviews
  blog/2025-10-29-conda-pypi.mdx
Due: index-blog

Add banner image for "Conda ≠ PyPI" article
  blog/2025-10-29-conda-pypi.mdx
  static/img/blog/2025-10-29-conda-is-not-pypi/banner.png
Due: index-blog

Apply suggestion from @jezdez
  blog/2025-10-29-conda-pypi.mdx
Due: index-blog

Update notes style.
  blog/2025-10-29-conda-pypi.mdx
Due: index-blog

Minor reformatting.
  blog/2025-10-29-conda-pypi.mdx
Due: index-blog

Add Part 1 of the "Conda Is Not PyPI" series (#250)
  blog/2025-10-29-conda-pypi.mdx
  blog/authors.yml
  blog/news.json
  static/img/blog/2025-10-29-conda-is-not-pypi/banner.png
Due: index-blog, sort-authors

Adds Part 2 of the “Conda Is Not PyPI” series:
  blog/2025-11-03-conda-pip-docker-nix.mdx
  blog/news.json
Due: index-blog
